.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
  z-index: 20;
}

.navbar .logo {
  width: max(10%, 80px);
}

.navbar .profile {
  width: 40px;
}

.logo img {
  height: 50px;
  width: auto;
  cursor: pointer;
}